<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <h3 class="text-center">Giriş Yap</h3>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label>Email</label>
          <input type="email" class="form-control" formControlName="email">
        </div>
        <div class="mb-3">
          <label>Şifre</label>
          <input type="password" class="form-control" formControlName="passwordHash">
        </div>
        <button type="submit" class="btn btn-primary w-100">Giriş Yap</button>
      </form>
    </div>
  </div>
</div>
